.link-to-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    column-gap: .5rem;
    margin-bottom: .5rem;
}

.blog-wrap {
    max-width: 700px;
    margin: 0 auto;
}

.blog-wrap-markdown-container {
    padding: 1em;
}

.blog-wrap-markdown-items p {
    text-align: justify;
    font-size: 0.9em;
    color: #010326;
    font-weight: 500;
}

.blog-wrap header {
    text-align: center;
}

.blog-date {
    font-size: .8rem;
    color: #a9a9a9;
    font-weight: 500;
}

.blog-wrap img {
    max-width: 100%;
}

.blog-subCategory {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.blog-subCategory > div {
    margin: 1rem;
}

.blog-desc {
    padding: 1rem;
    margin-top: 1.5rem;
}

@media(max-width: 1175px) {
    .link-to-home {
        margin-left: .8rem;
    }
}